spring:
  config:
    activate:
      on-profile: local
  r2dbc:
    url: r2dbc:mariadb://localhost:13306/fsm_command
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}
fsm:
  storage:
    local-root: ${user.dir}/../local-storage
management:
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true
